<!--Welcome banner-->
<section class="text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start" style="background-color: #0d6efd;">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>   
                <h1>Sample welcoming text</h1>
                <p class="lead my-4">Review your favourite shows and games</p>
                <button class="btn btn-dark btn-lg" id="scroll-button">Check out some reviews</button>
            </div>
            <img class="img-fluid w-50 d-none d-sm-block" src="img/233-2332677_image-500580-placeholder-transparent.png" alt="">
        </div>
    </div>
</section>


<!--Subscription box-->
<section class="text-light p-5" style="background-color: #0d6efd;">
    <div class="container">
        <div class="d-md-flex justify-content-between align-items-center">
            <h3 class="mb-3 mb-md-0">Sign up for email notifications</h3>

            <div class="input-group news-input">
                <input type="text" class="form-control" placeholder="Enter your email">
                <button class="btn btn-danger btn-lg" type="button" id="button-addon2">Subscribe</button>
            </div>
        </div>
    </div>
</section>


<!--Latest blogs-->
<section id="latest-blogs" class="p-5">
    <div class="container">
        <h2 class="text-center mb-4">Latest Reviews</h2>
        <div class="row text-center g-4">
            <% data.filter(post => post.status === 'published').slice(0, 15).forEach(post => { %>
            <div class="col-md">
                <div class="card bg-light text-dark">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <img class="img-fluid" src="<%= post.image %>" alt="Post image" style="max-width: 300px; height: auto;">
                        </div>
                        <h3 class="card-title mb-3">
                            <%= post.title %>
                        </h3>
                        <p class="card-text">
                            <%= post.body.substring(0, 100) %>...
                        </p>
                        <span>
                            <%= post.createdAt.toDateString() %>
                        </span>
                        <div class="mt-2">
                            <a href="/post/<%= post._id %>" class="btn btn-warning">Open blog</a>
                        </div>
                        <div class="mt-2">
                            <small>Posted by <%= post.user.username %></small>
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
</section>


<script>
    document.getElementById('scroll-button').addEventListener('click', function() {
        document.getElementById('latest-blogs').scrollIntoView({ behavior: 'smooth' });
    });
</script>